<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condicional</title>
</head>
<body>
    <p>Condicional com ejs exibindo quando true e ou false </p>

    <% if(msg == true){ %>
        <H3>Se verdadeiro exibir mensagem</H3>
    <% }else { %>
        <H3>Se false exibir mensagem </H3>
    <% } %>

<hr>
        <p>Estrutura de repetições EJS</p>
    
</body>
</html>