<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrtura de Repetição</title>
</head>
<body>
    <h3>Para cada [ forEach ]</h3>

    <% produtos.forEach(function(produtos) { %>
    <hr>
        <%= produtos.nome %>
        <%= produtos.preco %>
    <% }) %>

</body>
</html>